<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.nl_employee_assess_management.nl_employee_interview_info.mapper.NlEmployeeIntviewInfoMapper">
    <select id="listWithName" resultType="org.jeecg.modules.demo.nl_employee_assess_management.nl_employee_interview_info.vo.SpecialistInterviewVO">
        select employee.realname    as employee_name,
               info.id,
               info.employee_id,
               info.specialist_id,
               info.interviewer_start_time,
               info.interviewer_end_time,
               info.interview_place,
               info.create_by,
               info.create_time
        from nl_employee_intview_info as info,
             sys_user as employee
        where info.employee_id = employee.id


    </select>
</mapper>