<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.nl_politics_reply.mapper.NlEmployeePoliticsRequestReplyMapper">

    <select id="getByQuestionnaireIdAndEmployeeId"
            resultType="org.jeecg.modules.demo.nl_politics_reply.entity.NlEmployeePoliticsRequestReply">

        select *
        from nl_employee_politics_request_reply
        where employee_id = #{employeeId}
          and questionnaire_id = #{listId}
    </select>
</mapper>