<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.demo.nl_questionnaire_list.mapper.NlQuestionnaireListMapper">

    <select id="getQuestionnairePage"
            resultType="org.jeecg.modules.demo.nl_questionnaire_list.vo.NlQuestionnaireListVO">
        select q_index.index_name,
               plan.plan_name,
               list.*
        from nl_questionnaire_list as list,
             nl_questionnaire_index as q_index,
             nl_employee_assess_plan as plan
        where list.plan_id = plan.id
          and list.questionnaire_type = q_index.id

    </select>
</mapper>